body {
    	background-color: white;
}

a {

	font-family: verdana;

}

p {
   	font-family: arial;
    	font-size: 20px;
}

h1 {

	overflow: hidden;

}


div {
	/* kösz kalmájör <3 */
	margin:0;
	padding:0;
	overflow: hidden;
}


/* input field */

.filter {


    width: 768px;


}

.filter td {

    border-bottom: 1px solid #bbb;

}

#select_race, #select_faction, #select_context {
    width: 256px;
	height: 224px;
	overflow-y: scroll;
}


/* TIMELINE ITSELF */

#timeline {

	background-color: #f7f7f7;
	border-collapse: collapse;
    width: 768px;


}

#timeline td {

	border-bottom: 1px solid #bbb;
	overflow: hidden;
	word-break: break-word;
	vertical-align: top;

	padding-left: 15px;
}


#timeline h1 {

	font-family: verdana;
	text-align: center;
	padding: 1%;


}




.stripe {

	width: 40px;

}



.eventbox {

/*display: inline-block;*/
}

.content {

	padding-top: 15px;
	padding-bottom:5px;

	margin-top:0px;
	margin-bottom:0px;
}

.tag {
	padding-top:4px;
	padding-bottom:0px;

	margin:0px;

	font-size:13px;
}
