/* FACTION COLORING */


.republic 	    { background-color: #41cdff;}
.freeheaven 	{ background-color: #279414;}
.starcloud	    { background-color: #ececec;}

.redfist 	    { background-color: #ff0000;}
.justiceempire 	{ background-color: #926919;}
.cybergod 	    { background-color: #f0ff00;}
.futureempire 	{ background-color: #f97900;}

.otherhuman 	{ background-color: #fee1a5;}

.cloudan        { background-color: #747474;}
.aurost         { background-color: #bababa;}
.sunserpent     { background-color: #dcea86;}

.shaper         { background-color: #7d873b;}

.anubis         { background-color: #fbfac5;}
.darkmachine	{ background-color: #607239;}

.otheralien	    { background-color: #ced9b4;}
.general	    { background-color: #eeeeee;}
